/node_modules
/dist
/dist-reports
/stats.json
/.idea
/instrumented
/coverage
yarn.lock
.prettierrc
.nyc_output

cypress/results/coverages/
cypress/results/screenshots/
cypress/results/videos/
cypress/results/reports/temp/*.json
cypress/results/reports/mochawesome-json
cypress/results/reports/*.html
cypress/fixtures/
cypress/downloads/
.env
cypress.env.json
.DS_Store

.husky/_
/test-reports
junit.xml

licenses.json
