<div id="xrite_obsolete_browser" style="display: none">
  <h1>Your browser is obsolete</h1>
  <h3>We're Sorry - It looks like your browser doesn't support some of our features</h3>
  <p>You can switch to another browser, such as Chrome or Firefox</p>
  <ul>
    <li>
      <a title="Google Chrome" href="https://www.google.com/intl/en/chrome/browser/" target="_blank">
        <img src="https://support.rightnow.org/attachments/token/dhxnnrpgqrhbng7/?name=Chrome+icon.jpeg" alt="Chrome" width="26" height="26">
      </a>
      <a title="Google Chrome" href="https://www.google.com/intl/en/chrome/browser/" target="_blank">Google Chrome</a>
    </li>
    <li>
      <a title="Firefox" href="http://www.mozilla.org/en-US/firefox/new/" target="_blank">
        <img src="https://support.rightnow.org/attachments/token/8cb3llnwppwrlje/?name=Firefox+Logo.jpeg" alt="Firefox" width="26" height="26">
      </a>
      <a title="Firefox" href="http://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a>
    </li>
  </ul>
</div>

<script>
if (typeof Promise === 'undefined') {
  document.getElementById('xrite_obsolete_browser').style.display = 'block';
}
</script>
